html, body {
    height: 100%;
    margin: 0;
}
.sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 25px;
}
.text-container {
    border: 3px solid black;
    display: block;
    position: relative;
}
.image-container {
    border: 3px solid green;
    display: block;
    position: relative;
}
.caption {
  text-align:center;
  font-size:18px;
  font-weight:bold;
}
